@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <div class="alert alert-danger m-4">
                            Twoja sesja wygasła lub nie jesteś zalogowany.
                            <a href="login" class="alert-link">Zaloguj się ponownie</a>.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning m-4" role="alert">
                            Nie masz uprawnień do oglądania tej strony.
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" class="p-4">Przepraszamy, pod tym adresem nic nie ma.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>